.post {
  background-color:white;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 10px;
}
.post__header {
  margin-bottom: 10px;
  display: flex;
}
.post__info {
  margin-left: 10px;
}

.post__info > p {
  font-size: 12px;
  color: gray 
}

.post__body {
  overflow-wrap: anywhere;
  
}
.post__imageWrapper, .post__videoWrapper {
  border-radius: 10px;
  display: flex;
  justify-content: center;
  margin: 10px 0;
  background-color: #f3f2ef;

}
.post__videoWrapper > video {
  outline: none;
  padding: 25px;
  margin:auto 0;
}

.post__button {
  display: flex;
  justify-content: space-evenly;
}

.post__link {
  text-decoration: none;
  color: black;

}
.post__link > h2 {
  font-size: 15px;
}
.post__imgShowed {
  max-width: 400px;
  height: 250px;
  object-fit: cover;
  margin: 25px auto;
  padding: 10px;

}
